name: Dissect CI
on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

jobs: 
  ci:
    uses: fox-it/dissect-workflow-templates/.github/workflows/dissect-docs-template.yml@main

